<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Write your comments here -->
    <!-- hyper links -->
    <a href="https://www.w3schools.com">Visit W3Schools</a>
    <a href="https://www.youtube.com/@yogevshoshan">my youtube channel</a>
    <a href="https://github.com/yogev1520">github</a>
    <a href="discord.gg/EYn6gydUNP">invite to my discord server</a>
    <a href="http://127.0.0.1:5000">home page</a>
    <!-- html_5  -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="icon" type="image/x-icon" href="png_img\favicon.ico">
</head>

<body>
 <h1> Login page  </h1> 
<p>
    this is login page  
</p>

<p>discord user name 
    (yogevShushanISR#5570)
    discord channel (discord.gg/EYn6gydUNP)
</p>
<p>
twiter user name (@Yogev_Shushan)
</p>
<p>email = yogev1520@gmail.com</p>
<p>cellNum = +972559729311</p>

<form action="/action_page.php">
    <label for="fname">First name:</label>
    <input type="text" id="fname" name="fname"><br><br>
    <label for="lname">Last name:</label>
    <input type="text" id="lname" name="lname"><br><br>
    <input type="submit" value="Submit">
</form>




</body>


