<!DOCTYPE html>
<html lang="en">
<head>
  <title>tasting</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  
  <style>
    h1{
        position: relative;
        text-align: center;
        color: rgb(85, 239, 13);
        
    }
    p{
        box-sizing: 200px;
        padding: 5px;
        margin: 5px;
        color: rgb(7, 243, 7);
    }
    body{
        width: 1280;
        height: 720;
        background-color: rgb(47, 40, 40);
        
        background-attachment: inherit;
        background-position: 100%;
        color: blue;
        
    }

  </style>
  
</head>

<body onload="get()">

<h1> Login page  </h1> 
<p>
this is login page  
</p>

<p>discord user name <br> (yogevShushanISR#5570)
<br>discord channel <br> (discord.gg/EYn6gydUNP)
</p>
<p>
twiter user name <br>(@Yogev_Shushan)
</p>
<p> email = yogev1520@gmail.com</p>
<p>cellNum = +972559729311</p>
<textarea name="textare" id="" cols="30" rows="10"></textarea>
<button id="submit" type="button">btn</button>

</body>


</html>